<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="1/DZwFP0FG7p/M5He6MAA4m2gd5tTYLFdP8+QUfO4ajfO5dCV9CB/9eJqOiq4Hxn1d2i3FociBCvYIDpuIevug==">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
